@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply bg-black900-004;
}

@theme {
  --color-black50-E6: #e6e6e7;
  --color-black100-B0: #b0b2b3;
  --color-black200-8A: #8a8c8e;
  --color-black300-54: #54585b;
  --color-black400-33: #33373b;
  --color-black500-00A: #00050a;
  --color-black600-009: #000509;
  --color-black700-007: #000407;
  --color-black700-A3: #a3a3a3;
  --color-black800-006: #000306;
  --color-black900-004: #000204;
  --color-black900-8E: #8e98a8;

  --color-yellow50-FE: #fefae6;
  --color-yellow100-FA: #faefb1;
  --color-yellow200-F8: #fefae6;
  --color-yellow300-F5: #fefae6;
  --color-yellow400-F3: #f3d535;
  --color-yellow500-F0: #f0cb03;
  --color-yellow600-DA: #dab903;
  --color-yellow700-AA: #aa9002;
  --color-yellow800-84: #847002;
  --color-yellow900-65: #655501;
  --color-yellow900-99: #999909;

  --color-green50-008: #008000;

  --color-blue50-000: #0000ff;

  --color-red50-000: #ff6200;
  /* connvertig the "px" to "rem" was making the texts extra smalll but i stilll choose to leave the connversion code */
  /*
  --text-display-lg: calc(57px / 16);
  --text-display-lg--line-height: calc(64px / 16);
  --text-display-lg--letter-spacing: calc(-0.25px / 16);

  --text-display-md: calc(45px / 16);
  --text-display-md--line-height: calc(52px / 16);
  --text-display-md--letter-spacing: 0;

  --text-display-sm: calc(36px / 16);
  --text-display-sm--line-height: calc(44px / 16);
  --text-display-sm--letter-spacing: 0;

  --text-headline-lg: calc(32px / 16);
  --text-headline-lg--line-height: calc(40px / 16);
  --text-headline-lg--letter-spacing: 0;

  --text-headline-md: calc(28px / 16);
  --text-headline-md--line-height: calc(36px / 16);
  --text-headline-md--letter-spacing: 0;

  --text-headline-sm: calc(24px / 16);
  --text-headline-sm--line-height: calc(32px / 16);
  --text-headline-sm--letter-spacing: 0;

  --text-title-lg: calc(22px / 16);
  --text-title-lg--line-height: calc(28px / 16);
  --text-title-lg--letter-spacing: 0;

  --text-title-md: calc(16px / 16);
  --text-title-md--line-height: calc(24px / 16);
  --text-title-md--letter-spacing: calc(0.15px / 16);

  --text-title-sm: calc(14px / 16);
  --text-title-sm--line-height: calc(20px / 16);
  --text-title-sm--letter-spacing: calc(0.1px / 16);

  --text-label-lg: calc(14px / 16);
  --text-label-lg--line-height: calc(20px / 16);
  --text-label-lg--letter-spacing: calc(0.1px / 16);

  --text-label-md: calc(12px / 16);
  --text-label-md--line-height: calc(16px / 16);
  --text-label-md--letter-spacing: calc(0.5px / 16);

  --text-label-sm: calc(11px / 16);
  --text-label-sm--line-height: calc(16px / 16);
  --text-label-sm--letter-spacing: calc(0.5px / 16);

  --text-body-lg: calc(16px / 16);
  --text-body-lg--line-height: calc(24px / 16);
  --text-body-lg--letter-spacing: calc(0.5px / 16);

  --text-body-md: calc(14px / 16);
  --text-body-md--line-height: calc(20px / 16);
  --text-body-md--letter-spacing: calc(0.25px / 16);

  --text-body-sm: calc(12px / 16);
  --text-body-sm--line-height: calc(16px / 16);
  --text-body-sm--letter-spacing: calc(0.4px / 16);

  --text-body-xs: calc(10px / 16);
  --text-body-xs--line-height: calc(12px / 16);
  --text-body-xs--letter-spacing: calc(0.4px / 16);
  */

  --text-display-lg: 57px;
  --text-display-lg--line-height: 64px;
  --text-display-lg--letter-spacing: -0.25px;

  --text-display-md: 45px;
  --text-display-md--line-height: 52px;
  --text-display-md--letter-spacing: 0;

  --text-display-sm: 36px;
  --text-display-sm--line-height: 44px;
  --text-display-sm--letter-spacing: 0;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: 0;

  --text-headline-md: 28px;
  --text-headline-md--line-height: 36px;
  --text-headline-md--letter-spacing: 0;

  --text-headline-sm: 24px;
  --text-headline-sm--line-height: 32px;
  --text-headline-sm--letter-spacing: 0;

  --text-title-lg: 22px;
  --text-title-lg--line-height: 28px;
  --text-title-lg--letter-spacing: 0;
  --text-title-lg--font-weight: 400;

  --text-title-md: 16px;
  --text-title-md--line-height: 24px;
  --text-title-md--letter-spacing: 0.15px;

  --text-title-sm: 14px;
  --text-title-sm--line-height: 20px;
  --text-title-sm--letter-spacing: 0.1px;

  --text-label-lg: 14px;
  --text-label-lg--line-height: 20px;
  --text-label-lg--letter-spacing: 0.1px;

  --text-label-md: 12px;
  --text-label-md--line-height: 16px;
  --text-label-md--letter-spacing: 0.5px;

  --text-label-sm: 11px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--letter-spacing: 0.5px;

  --text-body-lg: 16px;
  --text-body-lg--line-height: 24px;
  --text-body-lg--letter-spacing: 0.5px;

  --text-body-md: 14px;
  --text-body-md--line-height: 20px;
  --text-body-md--letter-spacing: 0.25px;

  --text-body-sm: 12px;
  --text-body-sm--line-height: 16px;
  --text-body-sm--letter-spacing: 0.4px;

  --text-body-xs: 10px;
  --text-body-xs--line-height: 12px;
  --text-body-xs--letter-spacing: 0.4px;
  --text-body-xs--font-weight: 400;
}

@layer utilities {
  .tw-all-center {
    @apply flex items-center justify-center;
  }

  .text-display-lg {
    font-size: var(--text-display-lg);
    line-height: var(--text-display-lg--line-height);
    letter-spacing: var(--text-display-lg--letter-spacing);
  }

  .text-display-md {
    font-size: var(--text-display-md);
    line-height: var(--text-display-md--line-height);
    letter-spacing: var(--text-display-md--letter-spacing);
  }

  .text-display-sm {
    font-size: var(--text-display-sm);
    line-height: var(--text-display-sm--line-height);
    letter-spacing: var(--text-display-sm--letter-spacing);
  }

  .text-headline-lg {
    font-size: var(--text-headline-lg);
    line-height: var(--text-headline-lg--line-height);
    letter-spacing: var(--text-headline-lg--letter-spacing);
  }

  .text-headline-md {
    font-size: var(--text-headline-md);
    line-height: var(--text-headline-md--line-height);
    letter-spacing: var(--text-headline-md--letter-spacing);
  }

  .text-headline-sm {
    font-size: var(--text-headline-sm);
    line-height: var(--text-headline-sm--line-height);
    letter-spacing: var(--text-headline-sm--letter-spacing);
  }

  .text-title-lg {
    font-size: var(--text-title-lg);
    line-height: var(--text-title-lg--line-height);
    letter-spacing: var(--text-title-lg--letter-spacing);
  }

  .text-title-md {
    font-size: var(--text-title-md);
    line-height: var(--text-title-md--line-height);
    letter-spacing: var(--text-title-md--letter-spacing);
  }

  .text-title-sm {
    font-size: var(--text-title-sm);
    line-height: var(--text-title-sm--line-height);
    letter-spacing: var(--text-title-sm--letter-spacing);
  }

  .text-label-lg {
    font-size: var(--text-label-lg);
    line-height: var(--text-label-lg--line-height);
    letter-spacing: var(--text-label-lg--letter-spacing);
  }

  .text-label-md {
    font-size: var(--text-label-md);
    line-height: var(--text-label-md--line-height);
    letter-spacing: var(--text-label-md--letter-spacing);
  }

  .text-label-sm {
    font-size: var(--text-label-sm);
    line-height: var(--text-label-sm--line-height);
    letter-spacing: var(--text-label-sm--letter-spacing);
  }

  .text-body-lg {
    font-size: var(--text-body-lg);
    line-height: var(--text-body-lg--line-height);
    letter-spacing: var(--text-body-lg--letter-spacing);
  }

  .text-body-md {
    font-size: var(--text-body-md);
    line-height: var(--text-body-md--line-height);
    letter-spacing: var(--text-body-md--letter-spacing);
  }

  .text-body-sm {
    font-size: var(--text-body-sm);
    line-height: var(--text-body-sm--line-height);
    letter-spacing: var(--text-body-sm--letter-spacing);
  }

  .text-body-xs {
    font-size: var(--text-body-xs);
    line-height: var(--text-body-xs--line-height);
    letter-spacing: var(--text-body-xs--letter-spacing);
    font-weight: var(--text-body-xs--font-weight);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

* {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
